<?xml version="1.0" encoding="utf-8"?>
<analyticsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="6.3.5000.0">
	<Sites>
		<add SiteName="Default" SiteId="68abaca7-fa01-4d73-8011-f8902e2a4cf1" />
	</Sites>
</analyticsConfig>